body {
    text-align: center;
    background-color: #f6f6f6;
}
h1 {
    text-align: center;
    color: rgba(255, 173, 21, 0.98);
    font: Arial;
    font-style: italic;
}

.container {
    color: #f60002
}
