body {
    text-align: center;
    background-color: #f6f6f6;
    
}
h1 {
    text-align: center;
    color: rgba(255, 173, 21, 0.98);
    font: Arial;
    font-style: italic;
}

.container {
    color: #f60002;
}

.change-devoured {
    background-color: #3a7636;
    padding: 10px;
    border-radius: 0.3rem;
    color: white;
    font-size: 18px;
}
.change-devoured:hover {
    background-color: #bdde6d;
    color: black;
}